@model List<ET.Pedido>
@{
    ViewBag.Title = "PedidosPorCliente";
}

<h2>Pedidos de @Model[0].Cliente.NombreFantasia</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>F. Pedido</th>
            <th>Estado</th>
            <th>Monto Total</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.FechaRealizado</td>
                <td>@p.Estado.Nombre</td>
                <td>@p.PrecioTotal</td>
                <td>
                    <a title="Detalles" href="~/Pedido/Detalles/@p.Id">Detalles</a>
                    @if ((Session["TipoUsuario"].ToString().Equals("Administrador") && !p.Estado.Nombre.Equals("CONFIRMADO") && !p.Estado.Nombre.Equals("CANCELADO") && !p.Estado.Nombre.Equals("EN CONSTRUCCION")) || (Session["TipoUsuario"].ToString().Equals("Cliente") && p.Estado.Nombre.Equals("MODIFICADO POR ADMINISTRADOR")))
                    { 
                        <a title="Confirmar" onclick="return confirm('¿Esta seguro?');" href="~/Pedido/Confirmar/@p.Id">Confirmar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>