
@{
    ViewBag.Title = "Gestión";
}

<h2>Gestion</h2>
@Html.ActionLink("Gestión Clientes", "ListaClientes", "Cliente")<br />
@Html.ActionLink("Gestión Articulos", "ListaArticulos", "Articulo")<br />
@Html.ActionLink("Gestión Categorías", "ListaCategorias", "Categoria")<br />
@Html.ActionLink("Gestión Pedidos", "Historico", "Pedido")

