@model List<ET.Categoria>
@{
    ViewBag.Title = "ListaCategorias";
}

<h2>Categorías</h2>
<hr>
<div class="row">
    @foreach (var c in Model)
    {

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src=@("/Imagenes/Categorias/"+ c.Img) alt="Imagen de Prueba" height="200" width="200">

                <div class="caption">
                    <h3>@c.Nombre</h3>
                    <br />

                    <p>
                        <a href="~/Catalogo/ListaArticulos/@c.Id" class="btn btn-default pull-right" role="button">
                            Detalles <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <div class="clearfix"></div>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

