@model List<ET.Categoria>
@{
    ViewBag.Title = "ListaCategorias";
}

<div class="row">
    <div class="col-md-2 pull-left">
        <div>
            <h3>Categorías</h3>
            @foreach (var c in Model)
            {
                <a href="~/Catalogo/ListaArticulos/@c.Id?Nombre=@c.Nombre">@c.Nombre</a><br />
            }
        </div>
    </div>
    <div class="col-md-10 pull-right">
        <h2 style="text-align:center">Categorías</h2>
        <hr>
        @foreach (var c in Model)
        {           
            <div class="col-sm-6 col-md-3" style="padding-bottom:20px;">           
                    <div class="thumbnail sombra">
                        <a href="~/Catalogo/ListaArticulos/@c.Id?Nombre=@c.Nombre">
                            <div align="center" style="width:100%; height:100%;">
                                <img src=@("/Imagenes/Categorias/"+ c.Img) alt="Imagen de Prueba" style="width:80%; height:80%;">
                            </div>
                        </a>
                        <div class="caption">
                            <center>@c.Nombre</center>
                        </div>
                    </div>                
            </div>
        }
    </div>
</div>

