/*desc para thumbnail*/
.sombra:hover {
    /*sombra*/
    -webkit-box-shadow: 0px 0px 5px 0px rgba(12,12,13,0.13);
    -moz-box-shadow: 0px 0px 5px 0px rgba(12,12,13,0.13);
    box-shadow: 0px 0px 5px 0px rgba(12,12,13,0.13);    
}
.sombra {
    /*dejo bordes rectos y mas claros*/
    border-radius:0px; 
    border-color:whitesmoke;
}
/*Estilo defs fuente defs label pagina*/
* {
   font-family: Comfortaa-Regular;
   font-size:14px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: PoiretOne-Regular;
}

h1 {
    font-size:50px;
}
@font-face {
    font-family: 'PoiretOne-Regular';
    src: url('../fonts/PoiretOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
}




